body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  position: relative;
  width: 400px;
  border-radius: 25px;
  overflow: hidden;
}

input[type="search"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  transition: width 0.4s ease-in-out;
  outline: none;
}

input[type="search"]:focus {
  border-color: #337ab7;
}

.fa-search {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #6658f6;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

li:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

a {
  color: #6658f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
